# 기타
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.antigravitycli/

# IntelliJ 관련
*.iml
*.ipr
*.iws
.idea/

# VS Code 실행/작업 설정을 공유하려면 아래 주석을 해제합니다.
#.vscode/

# Flutter/Dart/Pub 관련
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/

# 심볼 파일
app.*.symbols

# 난독화 산출물
app.*.map.json

# Android Studio 빌드 산출물
/android/app/debug
/android/app/profile
/android/app/release
