<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="new_petnurim_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="kakao930bf238e56cb22cf6484fa8af790a5a"
                    android:host="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Android 프로세스 시작 직후 Activity에 적용할 테마입니다.
                 Flutter UI가 초기화되는 동안 사용자에게 보이고,
                 이후에도 Flutter UI 뒤쪽 Window 배경을 결정합니다. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.dkdr.new_petnurim_app" android:host="naverlogin" />
            </intent-filter>
        </activity>
        <!-- 아래 meta-data는 Flutter 도구가 GeneratedPluginRegistrant.java를 만들 때 사용하므로 삭제하지 않습니다. -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- 텍스트 처리 Activity 조회에 필요합니다. 참고:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         특히 Flutter 엔진의 io.flutter.plugin.text.ProcessTextPlugin에서 사용합니다. -->
    <queries>
        <package android:name="com.kakao.talk" />
        <package android:name="com.nhn.android.search" />
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
